/web/_out
/web/static/lib/treehouse.js
/web/static/lib/treehouse.js.map
/web/static/lib/treehouse.min.js
/web/static/lib/treehouse.min.js.map
/web/_vendor/**/node_modules
/web/_vendor/**/package-lock.json
/web/_vendor/octokit/package.json
/local
.DS_Store
