body {
  zoom: 1;
  background-color: white;
  font-family: sans-serif;
}

.menu li:hover {
  background: #555;
  color: white;
  cursor: pointer;
}

.palette .selected {
  background: #555;
  color: white;
}

.\? { border: 1px solid red !important; }