:root {
  --dark: #e0e0e0;
  --padding: 1rem;
  --background: #fafbfb;
  --font: 'Work Sans', sans-serif;
}

input::placeholder {
  opacity: 1;
  color: var(--dark);
}

body, input, textarea, button {
  color: #444;
  font-size: 1rem;
  font-family: var(--font);
}

body {
  zoom: 1;
  margin: 0;
  /* font-family: 'Recursive', sans-serif; */
  font-family: var(--font);
  color: #444;
  height: 100%;
  background: var(--background);
}

.menu li:hover {
  background: #666;
  color: white;
  cursor: pointer;
}

.palette .selected, .search .selected {
  background: #666;
  color: white;
  border-radius: 0.25rem;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--dark);
}

button {
  border-radius: 0.25rem;
  background-color: white;
  border: 1px solid var(--dark);
  cursor: pointer; 
}

.search .results > div {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.\? { border: 1px solid red !important; }