@import url(../style/design.css);

:root {
  --padding: 1rem;
  --font: 'Figtree', sans-serif;
}

<<<<<<< Updated upstream
=======
/*------------GLOBAL APP STYLES------------*/

body {
  zoom: 1;
  margin: 0;
  height: 100%;
  background: var(--gray-100);
}
body, input, textarea, button {
  color: var(--black);
  font-size: 1rem;
  font-family: var(--font);
  font-weight: var(--weight-regular);
}
>>>>>>> Stashed changes

button {
  box-sizing: content-box;
  height: 48px;
  font-weight: var(--weight-bold);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--white);
  cursor: pointer; 
  padding: 0 calc(var(--padding)*2);
}
button.primary {
  color: var(--white);
  background-color: var(--primary);
  border: none;
}



/*------------NOTICES------------*/

.notice {
  border-radius: var(--border-radius);
  width: 40rem;
  padding: calc(var(--padding)*2);
  background-color: var(--white);
}
.notice h3 {
  margin-bottom: calc(var(--padding)*1.5);
}
.notice p {
  line-height: var(--body-line-height);
}
.notice button+button {
  margin-left: var(--padding);
}
.notice .button-bar {
  text-align: right;
  margin-top: var(--padding);
}

/* TO REVIEW OR REMOVE */

main {
  background-color: var(--white);
}

<<<<<<< Updated upstream

input::placeholder {
  opacity: 1;
  color: var(--dark);
}

body, input, textarea, button {
  color: #444;
  font-size: 1rem;
  font-family: var(--font);
  font-weight: 400;
}

body {
  zoom: 1;
  margin: 0;
  /* font-family: 'Recursive', sans-serif; */
  font-family: var(--font);
  color: #444;
  height: 100%;
  background: var(--background);
}

=======
>>>>>>> Stashed changes
.menu li:not(.disabled):hover {
  background: #666;
  color: white;
  cursor: pointer;
}
.menu li.disabled {
  color: #bbb;
  cursor: pointer;
}

.palette .selected, .search .selected {
  background: #666;
  color: white;
  border-radius: 0.25rem;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--dark);
}

<<<<<<< Updated upstream
button {
  border-radius: 0.25rem;
  background-color: white;
  border: 1px solid var(--dark);
  cursor: pointer; 
}

.search .results > div {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

=======
>>>>>>> Stashed changes
.\? { border: 1px solid red !important; }




.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  transform: scale(2);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #444;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}