@import url(../style/design.css);

:root {
  --padding: 1rem;
  --font: 'Figtree', sans-serif;
}

/*------------GLOBAL APP STYLES------------*/

body {
  zoom: 1;
  margin: 0;
  height: 100%;
  background: var(--gray-100);
}
body, input, textarea, button {
  color: var(--black);
  font-size: 1rem;
  font-family: var(--font);
  font-weight: var(--weight-regular);
}
button {
  box-sizing: content-box;
  height: 48px;
  font-weight: var(--weight-bold);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--white);
  cursor: pointer; 
  padding: 0 calc(var(--padding)*2);
}
button.primary {
  color: var(--white);
  background-color: var(--primary);
  border: none;
}
p {
  margin-block-start: var(--padding);
  margin-block-end: var(--padding);
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*------------APP------------*/

main {
  background-color: var(--white);
}
/*to make theming easier*/
.node-container textarea, .new-node input, .palette input {
  background-color: transparent;
}

/*------------SIDEBAR------------*/
.sidebar {
  background-color: var(--gray-100);
  border-right: 1px solid var(--border-color-light);
}
.sidebar-topsection {
  padding: var(--padding);
  border-bottom: 1px solid var(--border-color-light);
}
/*TO DO: change logo to SVG and set color instead of opacity*/
.sidebar-topsection > .logo {
  opacity: 40%;
}
.sidebar-maincontent {
  padding: var(--padding);
  font-weight: var(--weight-semibold);
}
.sidebar-bottomsection {
  padding: var(--padding);
  color: var(--gray-500);
}

/*------------TOPBAR------------*/
.topbar {
  padding: var(--padding) calc(var(--padding)*2);
  line-height: 1;
  font-size: var(--text-small);
  font-weight: var(--weight-semibold);
  border-bottom: 1px solid var(--border-color-light);
  height: 56px;
}
.topbar > div > svg {
  margin-right: var(--1);
}
.topbar-item {
  display: flex;
  align-items: center;
}
.topbar-item > div {
  margin-bottom: -1px;
}
/*fun hack to get the top navbar items vertically aligned
with their icon for Safari only*/
@supports (-webkit-hyphens:none)
{
  .topbar-item > div {
    margin-bottom: -3px;
  }
}

/*------------PANELS------------*/
.panels > div {
  border-right: 1px solid var(--border-color-light);
}
.panel {
  margin-top: var(--padding);
  margin-left: calc(var(--padding)*2);
  margin-right: calc(var(--padding)*2);
  padding-bottom: var(--padding);
}
.panel > .bar {
  font-size: var(--text-small);
  color: var(--gray-600);
  gap: var(--padding);
  padding: 0 var(--padding);
  margin-bottom: calc(var(--padding)*1.5);
}
.panel > .bar .panel-icons {
  gap: var(--4);
  z-index: 0;
  color: var(--gray-500);
}
.panel > .body {
  padding: 0 var(--padding);
}


/*------------NODES------------*/
/*keep max line length from getting too long for readibility*/
.node-container {
  width: 100%;
  margin-bottom: var(--2);
}
.node-container textarea, .panel-back-parent {
  max-width: 768px;
}
/*todo: check unused textarea styles in panel.tsx*/
.node-container > textarea, .node-container > span {
  outline: none;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  display: block;
  line-height: var(--body-line-height);
  border: none;
}
.title-node textarea, .title-node > .node-container > span {
  font-size: var(--6);
  font-weight: var(--weight-bold);
}
.new-node svg {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  padding-left: 1px;
}
.new-node svg circle {
  fill: var(--gray-200);
}
.new-node svg path {
  fill: var(--gray-600);
}
.new-node input {
  border: 0px;
  outline: 0px;
}
.expanded-node {
  padding-bottom: var(--1);
}
.expanded-node > .indent {
  width: var(--8);
}
/*todo: make common class for shared icon button styles*/
svg.node-menu {
  cursor: pointer;
  fill: var(--gray-600);
  width: 1rem;
  height: 1rem;
  margin-left: -1rem;
  user-select: none;
  margin-top: var(--1);
}
.node-handle {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin-right: var(--2);
  padding-left: 1px;
  margin-top: var(--1);
}
svg.node-bullet {
  fill: var(--gray-600);
}
svg.node-bullet circle#node-collapsed {
  fill: var(--gray-200);
}

/*------------TABLE VIEW------------*/

.table-view {
  display: grid;
}
.table-view th {
  text-align: left;
}
.table-view thead,
.table-view tbody,
.table-view tr {
  display: contents;
}

/*------------SEARCH------------*/
.search {
  border: none;
  background: none;
  margin: 0 var(--padding);
  position: relative;
}
.search > div {
  width: 95%;
  padding: calc(var(--padding)/2);
  margin: calc(var(--padding)/-2);
  position: absolute;
}
.search.active > div {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--white);
  z-index: var(--layer-top);
}
.search .results {
  margin-top: var(--padding);
  font-weight: var(--weight-regular);
}
.search .results > div {
  padding: calc(var(--padding)/2);
  line-height: var(--body-line-height);
}
.search input {
  width: 99%;
  margin: 0 var(--padding) 0 var(--1);
  font-weight: var(--weight-semibold);
  font-size: var(--text-small);
}

/*todo: combine common styles for palette/search*/
.palette .selected, .search .selected, .menu li:not(.disabled):hover {
  background: var(--gray-200);
  border-radius: var(--border-radius);
}

/*------------NOTICES------------*/
.notice {
  border-radius: var(--border-radius);
  width: 40rem;
  padding: calc(var(--padding)*2);
  background-color: var(--white);
}
.notice h3 {
  margin-bottom: calc(var(--padding)*1.5);
}
.notice p {
  line-height: var(--body-line-height);
}
.notice .button-bar button+button {
  margin-left: var(--padding);
}
.notice .button-bar {
  text-align: right;
  margin-top: var(--padding);
}

/*------------MENU------------*/
.menu {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: calc(var(--padding)/4);
  background-color: var(--white);
  font-size: var(--text-small);
  min-width: 200px;
  z-index: var(--layer-2);
}
.menu li {
  list-style-type: none;
  padding: calc(var(--padding)/2);
  margin: 0px;
}
.menu li .keybindings {
  color: var(--gray-500);
  margin-left: var(--4);
}
.menu li:not(.disabled):hover {
  cursor: pointer;
}
.menu li.disabled {
  color: #bbb;
  cursor: pointer;
}

/*------------PALETTE------------*/
.palette {
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  min-width: 400px;
  z-index: var(--layer-2);
  background: var(--white);
}
.palette, .palette input {
  font-size: var(--text-small);
}
.palette .commands {
  line-height: var(--body-line-height);
  padding: calc(var(--padding)/2) 0;
  max-height: 250px;
}
.palette .commands > div, .palette input {
  padding: calc(var(--padding)/2);
}

/*------------LOADING ANIMATION------------*/
.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  transform: scale(2);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #444;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}



/*------------MOBILE------------*/

@media (max-width: 600px) {

  :root {
    --padding: var(--2);
  }

  .notice {
    width: 100vw;
  }
/*todo: this padding needs to stay to same as desktop 
for alignment purposes. should probably center
the top nav in a more elegant way at some point*/
  .sidebar-topsection, .topbar {
    padding: calc(var(--padding)*2);
  }
 
  .search {
    max-width: 100vw;

  }
}













