@import url(../style/design.css);

:root {
  --padding: 1rem;
  --font: 'Figtree', sans-serif;
}

/*------------GLOBAL APP STYLES------------*/

body {
  zoom: 1;
  margin: 0;
  height: 100%;
  background: var(--background);
}
body, input, textarea, button {
  color: var(--black);
  font-size: 1rem;
  font-family: var(--font);
  font-weight: var(--weight-regular);
}


/*------------SEARCH------------*/
.search {
  border: none;
  background: none;
  margin: 0 var(--padding);
}
.search > div {
  width: 95%;
  padding: calc(var(--padding)/2);
  margin: calc(var(--padding)/-2);
  position: absolute;
}
.search.active > div {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--white);
  z-index: var(--layer-top);
}
.search .results {
  margin-top: var(--padding);
  font-weight: var(--weight-regular);
}
.search .results > div {
  padding: calc(var(--padding)/2);
  line-height: var(--body-line-height);
}
.search input {
  width: 99%;
  margin: 0 var(--padding) 0 var(--1);
  font-weight: var(--weight-semibold);
  font-size: var(--text-small);
}
.palette .selected, .search .selected {
  background: var(--gray-200);
  border-radius: var(--border-radius);
}


/* TO REVIEW OR REMOVE */

:root {
  --dark: #e0e0e0;
  --background: #fafbfb;
}

main {
  background-color: var(--white);
}

input::placeholder {
  opacity: 1;
  color: var(--dark);
}

.menu li:not(.disabled):hover {
  background: #666;
  color: white;
  cursor: pointer;
}
.menu li.disabled {
  color: #bbb;
  cursor: pointer;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--border-color);
}

button {
  border-radius: var(--border-radius);
  background-color: white;
  border: 1px solid var(--border-color);
  cursor: pointer; 
}

.\? { border: 1px solid red !important; }



/*------------LOADING ANIMATION------------*/
.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  transform: scale(2);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #444;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}