@import url(./design.css);

/* treehouse specific */


:root {
  background-color: var(--black);
}
body, body > header > nav {
  background-color: var(--white);
  color: var(--black);
  font-family: "Figtree";
  font-size: 1.125rem;
}
body > section > *, 
body > header > *, 
body > footer > * {
  max-width: 94.5rem;
  padding-left: var(--16);
  padding-right: var(--16);
  margin-left: auto;
  margin-right: auto;

}
body > header > nav {
  padding-top: var(--6);
  padding-bottom: var(--6);
}
body > header > nav .item {
  margin-left: var(--4);
  margin-right: var(--4);
}
body > header > nav .item.active {
  border-bottom: 4px solid var(--primary);
}
body > footer {
  color: var(--white);
  background-color: var(--black);
  background-image: url("/halftone_white_15.png");
  background-size: 50px 50px;
}
body > footer > nav {
  padding-top: var(--8);
  padding-bottom: var(--8);
}
body > section {
  padding-top: var(--16);
  padding-bottom: var(--16);
}
body > section:last-of-type {
  padding-bottom: var(--32) !important;
}
body > section > * .header {
  margin-bottom: var(--8);
}
body > section.title {
  color: var(--white);
  background-color: var(--primary);
  
  text-align: center;
  line-height: 1.4;
  padding-top: var(--8);
  padding-bottom: var(--8);

  font-size: var(--16);
  font-weight: var(--weight-bold);
}
body > section.title > * {
  filter: drop-shadow(2px 2px 0px var(--black));
}
body > section.title .subtitle {
  font-size: var(--8);
  font-weight: var(--weight-semibold);
}
body > #subscribe {
  background-color: var(--gray-100);
  margin-top: var(--16);
}
body > section.alt {
  background-color: var(--gray-100);
  background-image: url("/halftone_white_50.png");
  background-size: 50px 50px;
}
body > section.hero .dropshadow {
    border-radius: 10px;
    position: absolute;
    margin-left: 18px;
    margin-top: 18px;
    left: 0;
    top: 0;
    width: 100%;
    height: 420px;
    background-image: url("/halftone_green.png");
    background-size: 50px 50px;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid var(--gray-400);
  padding: calc(var(--padding)/2);
  font-size: var(--text-small);
}

/*------------ARTICLE------------*/
/*used for blog posts and documentation*/

/*add extra height for readibility*/
article {
  line-height: 1.7;
  max-width: 768px;
}
article .author {
  font-weight: var(--weight-semibold);
}
article .date, body.blog > section nav > div .date {
  color: var(--gray-600);
  margin-bottom: var(--4);
}
/*grouped because bottom margin should stay consistent*/
article h1, article h2, article h3, article h4, article p {
  margin-bottom: var(--3);
}
article h2 {
  margin-top: var(--14);
}
article h3 {
  margin-top: var(--7);
}
article h4 {
  margin-top: var(--6);
}
article ul, article p {
  margin-top: 0px;
}
article img {
  margin-top: var(--2);
  margin-bottom: var(--4);
  width: 100%;
  border: 1px solid var(--border-color-light);
}
article a {
  text-decoration: underline;
  font-weight: var(--weight-semibold);
  color: var(--blue-600);
}

body.blog > section nav > div {
  margin-top: var(--4);
  margin-bottom: var(--4);
  line-height: var(--7);
}

body.docs > section nav {
  position: sticky; top: 0px;
}
body.docs > section nav ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: var(--4);
  padding: 0;
  font-weight: var(--weight-regular);
}
body.docs > section nav h5 {
  font-weight: var(--weight-bold);
  text-transform: none;
  letter-spacing: 0px;
}
body.docs > section nav a.active {
  background-color: #E3FBE5;
}
body.docs > section nav li a {
  font-weight: var(--weight-regular);
  padding-left: var(--3);
  border-radius: 4px;
  display: block;
}
body.docs > section nav li a,
body.docs > section nav h5 a {
  font-size: 1.125rem;
  line-height: var(--10);
}
article h1 > a,
article h2 > a,
article h3 > a,
article h4 > a,
article h5 > a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

a {
  font-weight: var(--weight-semibold);
}

.button, button {
  border-radius: 10px;
  padding-left: var(--8);
  padding-right: var(--8);
  height: var(--12);
  font-weight: var(--weight-bold);
  white-space: nowrap;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.375rem;
  
  border: 2px solid var(--black);
  background-color: var(--white);
}

input[type="email"],
input[type="text"] {
  border-radius: 10px;
  padding-left: var(--4);
  padding-right: var(--4);
  height: var(--12);
  width: 100%;
  max-width: 32rem;

  border: 2px solid var(--black);
  background-color: var(--white);
}

.logo {
  font-size: var(--5);
  font-weight: var(--weight-black);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.375rem;
}

.primary {
  color: var(--white);
  border: none;
  background-color: var(--primary);
}

code:not(pre > code), pre > code > div, .hljs {
  background-color: var(--gray-900);
  color: var(--white);
  font-size: smaller;
  line-height: var(--6);
  border-radius: 4px;
  padding: var(--2);
}

pre > code {
  display: flex;
  overflow-x: auto;
  max-width: 100%;
}

/*code editor color theme (temporarily borrowed from nite owl)*/
.hljs-name {
  color: #AEDB67; /*green*/
}
.hljs-attr {
  color: #55A3E2; /*blue*/
}
.hljs-string {
  color: #80DBCA; /*teal*/
}
.hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-variable.language_ {
  color: #C792EA; /*purple*/
}
.hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_ {
  color: #FEEB95; /*yellow*/
}


/* Responsive */

@media screen and (max-width: 1024px)
{
  .md\:hidden {
    display: none;
  }

  body > section > *, 
  body > header > *, 
  body > footer > * {
    padding-left: var(--6);
    padding-right: var(--6);
  }
  body > section {
    padding-top: var(--8);
    padding-bottom: var(--8);
  }
  body > section:last-of-type {
    padding-bottom: var(--16) !important;
  }
  body > #subscribe {
    margin-top: var(--8);
  }
}

@media screen and (max-width: 640px)
{
  .sm\:hidden {
    display: none;
  }
  .sm\:stack {
    flex-direction: column;
  }

  body {
    --h1-size: var(--8);
    --h2-size: var(--6);
    --h3-size: var(--5);
  }

  body.docs > section nav {
    position: relative;
  }

  body > header > nav {
    padding-top: var(--4);
    padding-bottom: var(--4);
  }
  body > footer > nav {
    padding-top: var(--4);
    padding-bottom: var(--4);
  }

  button, .button {
    border-radius: 8px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    height: 2.5rem;
  }
  article h2, article h3, img, p {
    margin-bottom: var(--2);
  }
  article h2, article h3 {
    margin-top: var(--3);
  }
  nav > .logo > span {
    display: none;
  }
  .blog .title {
    padding-top: var(--2);
    padding-bottom: var(--2);

  }
  .blog .title h4 {
    font-size: var(--8);
  }
  .blog .title .subtitle {
    font-size: var(--4);
  }
}
