:root {
  --dark: #e0e0e0;
  --padding: 1rem;
  --background: #fafbfb;
}

input::placeholder {
  opacity: 1;
  color: var(--dark);
}

body, input {
  color: #444;
  font-size: 1rem;
}

body {
  zoom: 1;
  /* font-family: sans-serif; */
  margin: 0;
  /* font-family: 'Recursive', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  color: #444;
  height: 100%;
  background: var(--background);
}

.menu li:hover {
  background: #555;
  color: white;
  cursor: pointer;
}

.palette .selected {
  background: #555;
  color: white;
}

.\? { border: 1px solid red !important; }