name: Worker Deploys
on: 
  push:
    branches:
      - main
    paths:
      - '.github/workers/**'
      - '.github/workflows/workers.yml'
jobs:
  github-login:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Publish
        uses: cloudflare/wrangler-action@2.0.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          workingDirectory: '.github/workers/github-login'
          secrets: |
            CLIENT_ID
            CLIENT_SECRET
        env:
          CLIENT_ID: ${{ secrets.DEMO_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.DEMO_CLIENT_SECRET }}